@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Main';
  src: url('../../public/Instagram Sans Headline.otf');
}

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #833ab4, #fd1d1d, #fcb045);
    --background: 276 40% 100%;
    --foreground: 276 5% 10%;
    --card: 276 40% 100%;
    --card-foreground: 276 5% 15%;
    --popover: 276 40% 100%;
    --popover-foreground: 276 95% 10%;
    --primary: 276 51.3% 46.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 276 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 238 30% 95%;
    --muted-foreground: 276 5% 40%;
    --accent: 238 30% 90%;
    --accent-foreground: 276 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 276 5% 100%;
    --border: 276 30% 82%;
    --input: 276 30% 50%;
    --ring: 276 51.3% 46.7%;
    --radius: 0.5rem;
  }
  .dark {
    --gradient: linear-gradient(to top left, #833ab4, #fd1d1d, #fcb045);
    --background: 276 40% 10%;
    --foreground: 276 5% 100%;
    --card: 276 40% 10%;
    --card-foreground: 276 5% 100%;
    --popover: 276 40% 5%;
    --popover-foreground: 276 5% 100%;
    --primary: 276 51.3% 46.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 276 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 238 30% 25%;
    --muted-foreground: 276 5% 65%;
    --accent: 238 30% 25%;
    --accent-foreground: 276 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 276 5% 100%;
    --border: 276 30% 50%;
    --input: 276 30% 50%;
    --ring: 276 51.3% 46.7%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: 'Main';
  overflow-x: hidden;
  user-select: none;
}

.instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
