@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Main';
  src: url('../../public/Instagram Sans Headline.otf');
}

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #833ab4, #fd1d1d, #fcb045);

    --background: #040917;
    --foreground: #f9f9f9;

    --muted: #2b2e3e;
    --muted-foreground: #8ca0b3;

    --popover: #35485c;
    --popover-foreground: #f9f9f9;

    --card: #35485c;
    --card-foreground: #f9f9f9;

    --border: #2b2e3e;
    --input: #2b2e3e;

    --primary: #3a8ed2;
    --primary-foreground: #0c0d12;

    --secondary: #2b2e3e;
    --secondary-foreground: #f9f9f9;

    --accent: #2b2e3e;
    --accent-foreground: #f9f9f9;

    --destructive: #c3004c;
    --destructive-foreground: #f9f9f9;

    --ring: #3a8ed2;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: 'Main';
  overflow-x: hidden;
  user-select: none;
}

.instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
